*{
	margin: 0;
	padding: 0;
	font-family: Arial;
}
.main{
	width: 1440px;
	height: 100vh;
	background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(pic.jpeg);
	background-size: cover;
	background-position: center;
}
.navbar{
	width:1440px;
	height: 55px;
	background-color: black;
	
}
.icon{
	width: 200px;
	float: left;
	height: 70px;
}
.logo{
	color: blue;
	font-size:35px;
	padding-left: 20px;
	float: left;
	padding-top: 10px;
}
.menu {
	width:200px;
	float:left;
	height:50px;
}
ul{
	float: left;
	display: flex;
	justify-content: center;
	align-items: center;
}
ul li {
	list-style-type: none;
	padding-left: 150px;
	margin-top: 20px;
	font-size: 13px;
	padding-right: 5px;
}
ul li.active a{
	color:blue;
}
ul li a {
	text-decoration: none;
	color: #fff;
	font-family: Arial;
	font-weight: bold;
	transition: 0.4s ease-in-out;
	
}
ul li a:hover {
	color: blue;
}
.content{
	width:100%; 
	position: absolute;
	top: 40%;
	transform: translateY(-50);
	text-align: center;
	color: #fff;	
}
h1{
	font-size: 40px;
}
p{
	margin: 15px;
}
button{
	width: 180px;
	padding: 15px 0;
	text-align: center;
	border-radius: 25px;
	font-weight: bold;
	border: 2px solid blue;
	background: transparent;
	color: #fff;
	cursor: pointer;
}
